@model List<Match>

@{
    ViewData["Title"] = "Home";
}

<partial name="_NavBarPartial" />

<div class="to-top">
    <a href="#carouselExampleControls" class="text-light text-decoration-none anton">&uArr;</a>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Allianz_arena_rojo.jpeg" class="carousel-img d-block w-100">
            <div class="carousel-caption">
                <h2>ALLIANZ ARENA</h2>
                <p class="lead">Learn more about Bayern's home &amp; its rich history</p>
                <a href="#">Visit</a>
            </div>
        </div>
        <div class="carousel-item ">
            <img src="https://img.fcbayern.com/image/upload/t_cms-16x9/f_auto/w_1600,c_fill/q_auto/v1625058193/cms/public/images/fcbayern-com/homepage/Teamfoto/Teamfoto.jpg" class="carousel-img d-block w-100">
            <div class="carousel-caption">
                <h2>TEAM</h2>
                <p class="lead">Get to know the team more</p>
                <a href="#">Visit</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.eurosport.com/2021/04/20/3118034-63916408-2560-1440.jpg" class="carousel-img d-block w-100">
            <div class="carousel-caption">
                <h2>TEAM NEWS</h2>
                <p class="lead">Get latest news about squad, fixture, stadium &amp; etc.</p>
                <a href="#">Visit</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <div class="site-bayern-info">
        <h3>BAYERN MUNICH</h3>
        <hr />
        <div>
            <p>
                Fußball-Club Bayern München e. V., commonly known as FC Bayern München, FCB, Bayern Munich, or FC Bayern, is a German professional sports club based in Munich, Bavaria. It is best known for its professional football team, which plays in the Bundesliga, the top tier of the German football league system
            </p>
            <p>
                FC Bayern Munich was founded in 1900 by 11 football players, led by Franz John.[4] Although Bayern won its first national championship in 1932, the club was not selected for the Bundesliga at its inception in 1963. The club had its period of greatest success in the mid-1970s when, under the captaincy of Franz Beckenbauer, it won the European Cup three consecutive times (1974–1976).
            </p>
        </div>
        <div class="site-bayern-info-items">
            <h5 class="fw-bold">Founder: <span class="small text-danger">Franz John</span></h5>
            <h5 class="fw-bold">Manager: <span class="small text-danger">Julian Nagelsmann</span></h5>
            <h5 class="fw-bold">Location: <span class="small text-danger">Munich, Germany</span></h5>
            <h5 class="fw-bold">Stadium: <span class="small text-danger">Allianz Arena</span></h5>
        </div>
    </div>

    <div class="d-flex justify-content-between mb-1">
        <h3 class="text-danger small">Last Match</h3>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-danger" asp-controller="Home" asp-action="Results">Results</a>
            <a class="btn btn-danger" asp-controller="Home" asp-action="Table">Table</a>
        </div>
    </div>

    @foreach (Match item in Model)
    {
        <div class="site-single-match m-0">
            <p class="text-center small mb-0 hand-writing">@item.Venue • @item.Time, @item.Date</p>
            <div class="site-single-match-hr"></div>
            <h5 class="text-center hand-writing">FULL-TIME</h5>
            <div class="d-flex justify-content-center">
                <div class="d-flex  align-items-center">
                    @*<h2 class="anton">@item.HomeTeam.TeamName</h2>*@
                    <img class="anton" src="@item.HomeTeam.TeamLogoUrl" width="100" height="100" />
                    <h1 class="text-center hand-writing m-4">@item.HomeTeam.TeamScore</h1>
                </div>
                <div class="d-flex justify-content-center align-items-center m-4">
                    <h1 class="text-center hand-writing">-</h1>
                </div>
                <div class="d-flex  align-items-center">
                    <h1 class="text-center hand-writing m-4">@item.AwayTeam.TeamScore</h1>
                    <img class="anton" src="@item.AwayTeam.TeamLogoUrl" width="100" height="100" />
                    @*<h2 class="anton">@item.AwayTeam.TeamName</h2>*@
                </div>
            </div>
        </div>
    }

    <div class="site-honours">
        <h3>HONOURS</h3>
        <hr />
        <div class="site-honours-trophies">
            <div>
                <img class="site-honours-trophies-img d-block mx-auto" src="https://img.fcbayern.com/image/upload/f_auto,q_auto:good/cms/public/images/fcbayern-com/media/images/erlebniswelt/erfolge/cl_pokale.png" />
                <h2 class="text-danger text-center">6</h2>
                <p class="small text-center">Champions League</p>
            </div>
            <div>
                <img class="site-honours-trophies-img d-block mx-auto" src="https://img.fcbayern.com/image/upload/f_auto,q_auto:good/cms/public/images/fcbayern-com/media/images/erlebniswelt/erfolge/dfb_pokale.png" />
                <h2 class="text-danger text-center">20</h2>
                <p class="small text-center">DFB German Cup</p>
            </div>
            <div>
                <img class="site-honours-trophies-img d-block mx-auto" src="https://img.fcbayern.com/image/upload/f_auto,q_auto:good/cms/public/images/fcbayern-com/media/images/erlebniswelt/erfolge/supercup.png" />
                <h2 class="text-danger text-center">10</h2>
                <p class="small text-center">German Super Cup</p>
            </div>
            <div>
                <img class="site-honours-trophies-img d-block mx-auto" src="https://img.fcbayern.com/image/upload/f_auto,q_auto:good/cms/public/images/fcbayern-com/media/images/erlebniswelt/erfolge/liga_pokal.png" />
                <h2 class="text-danger text-center">6</h2>
                <p class="small text-center">League Cup</p>
            </div>
            <div>
                <img class="site-honours-trophies-img d-block mx-auto" src="https://img.fcbayern.com/image/upload/f_auto,q_auto:good/cms/public/images/fcbayern-com/media/images/erlebniswelt/erfolge/uefa_cup.png" />
                <h2 class="text-danger text-center">2</h2>
                <p class="small text-center">UEFA Cup</p>
            </div>
            <div>
                <img class="site-honours-trophies-img d-block mx-auto" src="https://img.fcbayern.com/image/upload/f_auto,q_auto:good/cms/public/images/fcbayern-com/media/images/erlebniswelt/erfolge/klubweltmeisterschaft.jpg" />
                <h2 class="text-danger text-center">2</h2>
                <p class="small text-center">FIFA Club World Cup</p>
            </div>
        </div>
    </div>
</div>

<partial name="_FooterPartial" />