@model List<TeamRank>

@{
    ViewData["Title"] = "Table";
}

<partial name="_NavBarPartial" />

<div class="container">
    <div class="site-results">
        <h3>TABLE</h3>
        <hr />
        <p>
            View Bayern Munich's League Standings <span class="fw-bold">2021-2022 season</span>
        </p>
    </div>

    <table class="site-table table table-sm table-borderless">
        <thead>
            <tr class="site-table-row">
                <th class="text-center">Position</th>
                <th>Team</th>
                <th class="text-center">P</th>
                <th class="text-center">W</th>
                <th class="text-center">D</th>
                <th class="text-center">L</th>
                <th class="text-center">GF</th>
                <th class="text-center">GA</th>
                <th class="text-center">GD</th>
                <th class="text-center">Pts</th>
                <th class="text-center">Form</th>
            </tr>
        </thead>

        <tbody class="site-table-striped">
            @foreach (var item in Model)
            {
                <tr class="site-table-row">
                    <td class="text-center fw-bold">@item.Rank</td>
                    <td><img src="@item.TeamBadge" height="25" width="25" />&nbsp;@item.TeamName </td>
                    <td class="text-center">@item.P</td>
                    <td class="text-center">@item.W</td>
                    <td class="text-center">@item.D</td>
                    <td class="text-center">@item.L</td>
                    <td class="text-center">@item.GF</td>
                    <td class="text-center">@item.GA</td>
                    <td class="text-center">@item.GD</td>
                    <td class="text-center fw-bold">@item.Pts</td>
                    <td class="text-center">@item.Form</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_FooterPartial" />